Repository alibaba/Sentinel, pull requests merged in 2019-08, with the labels that each got.

#964 Remove duplicate exception check in SentinelResourceAspect
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/SentinelResourceAspect.java
Labels: area/annotation, kind/enhancement

#961 ConfigUtil support reading files with customized charset
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/util/ConfigUtil.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/util/ConfigUtilTest.java
Labels: area/configuration

#972 Fix the bug of getting wrong cluster flow QPS in ClusterFlowChecker
  sentinel-cluster/sentinel-cluster-server-default/src/main/java/com/alibaba/csp/sentinel/cluster/flow/ClusterFlowChecker.java
Labels: area/cluster, kind/bug

#979 DataSource integration for Consul
  sentinel-extension/pom.xml
  sentinel-extension/sentinel-datasource-consul/pom.xml
  sentinel-extension/sentinel-datasource-consul/src/main/java/com/alibaba/csp/sentinel/datasource/consul/ConsulDataSource.java
  sentinel-extension/sentinel-datasource-consul/src/test/java/com/alibaba/csp/sentinel/datasource/consul/ConsulDataSourceTest.java
Labels: area/integrations, to review

#291 fix grpc-adapter bug,replace the Entry by AsyncEntry #289
  sentinel-adapter/sentinel-grpc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcClientInterceptor.java
  sentinel-adapter/sentinel-grpc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcServerInterceptor.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/FooServiceClient.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/FooServiceImpl.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/GrpcTestServer.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcClientInterceptorDegradeTest.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcServerInterceptorDegradeTest.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/proto/example.proto
Labels: area/integrations, size/L, to review

#859 Support adding prefix to Dubbo service resource name in Sentinel Dubbo Adapter
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/DubboUtils.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboConsumerFilter.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboProviderFilter.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/config/DubboConfig.java
  sentinel-adapter/sentinel-apache-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/DubboUtilsTest.java
  sentinel-adapter/sentinel-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/AbstractDubboFilter.java
  sentinel-adapter/sentinel-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboConsumerFilter.java
  sentinel-adapter/sentinel-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/SentinelDubboProviderFilter.java
  sentinel-adapter/sentinel-dubbo-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/dubbo/config/DubboConfig.java
  sentinel-adapter/sentinel-dubbo-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/dubbo/AbstractDubboFilterTest.java
Labels: area/integrations

#995 Improve RT statistic and exception tracing in Sentinel gRPC adapter
  sentinel-adapter/sentinel-grpc-adapter/README.md
  sentinel-adapter/sentinel-grpc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcClientInterceptor.java
  sentinel-adapter/sentinel-grpc-adapter/src/main/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcServerInterceptor.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/FooServiceClient.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/FooServiceImpl.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcClientInterceptorDegradeTest.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcClientInterceptorTest.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcServerInterceptorDegradeTest.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/java/com/alibaba/csp/sentinel/adapter/grpc/SentinelGrpcServerInterceptorTest.java
  sentinel-adapter/sentinel-grpc-adapter/src/test/proto/example.proto
Labels: area/integrations, kind/enhancement

#899 Support data source integrate with spring cloud config
  sentinel-extension/pom.xml
  sentinel-extension/sentinel-datasource-spring-cloud-config/README.md
  sentinel-extension/sentinel-datasource-spring-cloud-config/pom.xml
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/main/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/SentinelRuleLocator.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/main/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/SentinelRuleStorage.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/main/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/SpringCloudConfigDataSource.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/main/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/config/DataSourceBootstrapConfiguration.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/main/resources/META-INF/spring.factories
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/SimpleSpringApplication.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/client/ConfigClient.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/server/ConfigServer.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/test/SentinelRuleLocatorTests.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/java/com/alibaba/csp/sentinel/datasource/spring/cloud/config/test/SpringCouldDataSourceTest.java
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/resources/bootstrap.yml
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/resources/config-client-application.properties
  sentinel-extension/sentinel-datasource-spring-cloud-config/src/test/resources/config-server-application.properties
Labels: area/integrations, integration/spring-cloud, to review

#1009 Added configuration persistent Apollo document
  doc/awesome-sentinel.md
Labels: area/document

#1004 sentinel console disable login
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/auth/SimpleWebAuthServiceImpl.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/AuthController.java
  sentinel-dashboard/src/main/resources/application.properties
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/login.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/directives/header/header.html
  sentinel-dashboard/src/main/webapp/resources/app/scripts/directives/header/header.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/services/auth_service.js
  sentinel-dashboard/src/main/webapp/resources/dist/js/app.js
Labels: area/dashboard, to review

#986 throw the actual exception when fallback method was invoked. (#985)
  sentinel-extension/sentinel-annotation-aspectj/src/main/java/com/alibaba/csp/sentinel/annotation/aspectj/AbstractSentinelAspectSupport.java
Labels: area/annotation, to review

#1015 Add version info in the left top of dashboard, like this: Sentinel 控制台 1.7.0
  sentinel-dashboard/src/main/webapp/resources/app/scripts/directives/header/header.html
  sentinel-dashboard/src/main/webapp/resources/app/scripts/directives/header/header.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/services/version_service.js
  sentinel-dashboard/src/main/webapp/resources/dist/js/app.js
  sentinel-dashboard/src/main/webapp/resources/gulpfile.js
Labels: area/dashboard, to review
