Repository alibaba/Sentinel, pull requests merged in 2019-07, with the labels that each got.

#804 Fix issue62 : Support customized log directory and configuration properties directory
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/config/SentinelConfig.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/config/SentinelConfigLoader.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/log/LogBase.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/log/LogConfigLoader.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/util/AppNameUtil.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/util/ConfigUtil.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/config/SentinelConfigTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/log/LogBaseTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/util/ConfigUtilTest.java
Labels: area/configuration, area/log, to review

#903 config file loading compatible with window file system
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/util/ConfigUtil.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/util/ConfigUtilTest.java
Labels: area/configuration, to review

#908 fix temp file problem
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/RecordLogTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/logger/EagleEyeLogUtilTest.java
Labels: area/test, to review

#914 Add the feature of excluding unused URLs in CommonFilter (#287)
  sentinel-adapter/sentinel-web-servlet/README.md
  sentinel-adapter/sentinel-web-servlet/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/CommonFilter.java
  sentinel-adapter/sentinel-web-servlet/src/test/java/com/alibaba/csp/sentinel/adapter/servlet/CommonFilterTest.java
  sentinel-adapter/sentinel-web-servlet/src/test/java/com/alibaba/csp/sentinel/adapter/servlet/TestController.java
Labels: to review

#936 Polish awesome-sentinel.md and add slides of Dubbo Tech Day
  doc/awesome-sentinel.md
Labels: area/document

#927 Fix the problem that dashboard do not correctly show the SystemRule in CPU usage strategy
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/controller/SystemController.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/datasource/entity/rule/SystemRuleEntity.java
  sentinel-dashboard/src/main/webapp/resources/app/scripts/controllers/system.js
  sentinel-dashboard/src/main/webapp/resources/app/scripts/services/systemservice.js
  sentinel-dashboard/src/main/webapp/resources/app/views/dialog/system-rule-dialog.html
  sentinel-dashboard/src/main/webapp/resources/app/views/system.html
  sentinel-dashboard/src/main/webapp/resources/dist/js/app.js
Labels: area/dashboard

#944 Enhancement for context name in Web Servlet filter
  sentinel-adapter/sentinel-web-servlet/README.md
  sentinel-adapter/sentinel-web-servlet/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/CommonFilter.java
  sentinel-adapter/sentinel-web-servlet/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/CommonTotalFilter.java
  sentinel-adapter/sentinel-web-servlet/src/main/java/com/alibaba/csp/sentinel/adapter/servlet/config/WebServletConfig.java
Labels: area/integrations, kind/enhancement

#889 fix AuthorityRuleEntity and ParamFlowRuleEntity fastjson serialize problem
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/datasource/entity/rule/AuthorityRuleEntity.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/datasource/entity/rule/ParamFlowRuleEntity.java
  sentinel-dashboard/src/test/java/com/alibaba/csp/sentinel/dashboard/datasource/entity/JsonSerializeTest.java
Labels: area/dashboard
