Repository alibaba/Sentinel, pull requests merged in 2020-11, with the labels that each got.

#1779 [Fixes #1769] adjust decision logic when slowRequestRatio equals 1.0
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/degrade/circuitbreaker/ResponseTimeCircuitBreaker.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/slots/block/degrade/circuitbreaker/ResponseTimeCircuitBreakerTest.java
Labels: area/circuit-breaking

#1765 Added ARM64 support to Sentinel and added ARM64 job to Travis-CI
  .travis.yml
  sentinel-adapter/sentinel-grpc-adapter/pom.xml
  sentinel-cluster/sentinel-cluster-server-envoy-rls/pom.xml
  sentinel-extension/sentinel-datasource-consul/pom.xml
Labels: area/ci, kind/enhancement

#1851 [feat #1839]: Support setting server.servlet.context-path
  sentinel-dashboard/src/main/webapp/resources/app/scripts/app.js
  sentinel-dashboard/src/main/webapp/resources/app/views/login.html
  sentinel-dashboard/src/main/webapp/resources/dist/js/app.js
  sentinel-dashboard/src/main/webapp/resources/index.htm
  sentinel-dashboard/src/main/webapp/resources/index_dev.htm
Labels: area/dashboard

#1781 [Fixes #1770]add statIntervalMs input in degrade-rule-dialog.html
  sentinel-dashboard/src/main/webapp/resources/app/views/dialog/degrade-rule-dialog.html
Labels: area/circuit-breaking, area/dashboard

#1859 fix flaky test in TracerTest.java
  sentinel-core/src/test/java/com/alibaba/csp/sentinel/TracerTest.java
Labels: area/test
