Repository alibaba/Sentinel, pull requests merged in 2021-04, with the labels that each got.

#2104 remove unnecessary cost time computation
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/metric/MetricFetcher.java
Labels: area/dashboard

#2110 Fix typo in FlowRuleManager and improve code with Map.computeIfAbsent in MetricTimerListener
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/node/metric/MetricTimerListener.java
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/slots/block/flow/FlowRuleManager.java
Labels: kind/enhancement

#2116 Changed exception check by JUnit API usage
  sentinel-adapter/sentinel-quarkus-adapter/sentinel-annotation-quarkus-adapter-deployment/src/test/java/com/alibaba/csp/sentinel/adapter/quarkus/annotation/deployment/SentinelAnnotationQuarkusAdapterTest.java
Labels: area/test

#2134 Fix issus 2128 remoteAddress error and groupId error of sentinel-demo-nacos-datasource
  sentinel-demo/sentinel-demo-nacos-datasource/src/main/java/com/alibaba/csp/sentinel/demo/datasource/nacos/NacosConfigSender.java
  sentinel-demo/sentinel-demo-nacos-datasource/src/main/java/com/alibaba/csp/sentinel/demo/datasource/nacos/NacosDataSourceDemo.java
Labels: area/example

#2127 change the default logo of dashboard
  sentinel-dashboard/src/main/webapp/resources/index.htm
  sentinel-dashboard/src/main/webapp/resources/index_dev.htm
  sentinel-dashboard/src/main/webapp/resources/static/favicon.ico
Labels: area/dashboard

#2154 An improved method for obtaining ip address and port number from cont…
  sentinel-core/src/main/java/com/alibaba/csp/sentinel/config/SentinelConfig.java
  sentinel-transport/sentinel-transport-common/src/main/java/com/alibaba/csp/sentinel/transport/config/TransportConfig.java
Labels: area/configuration, kind/enhancement

#2173 Fix the incorrect function in ParamFlowRuleEntity of sentinel-dashboard
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/client/SentinelApiClient.java
  sentinel-dashboard/src/main/java/com/alibaba/csp/sentinel/dashboard/datasource/entity/rule/ParamFlowRuleEntity.java
Labels: area/dashboard
