Repository alibaba/Sentinel, pull requests merged in 2023-01, with the labels that each got.

#2962 Fix issue: connection leak risk when using Nacos data-source.
  sentinel-extension/sentinel-datasource-nacos/src/main/java/com/alibaba/csp/sentinel/datasource/nacos/NacosDataSource.java
Labels: kind/bug, to-review, area/data-source

#2963 Fix issue to upgrade curator-recipes and related API.
  sentinel-extension/sentinel-datasource-zookeeper/pom.xml
  sentinel-extension/sentinel-datasource-zookeeper/src/main/java/com/alibaba/csp/sentinel/datasource/zookeeper/ZookeeperDataSource.java
Labels: dependencies, area/data-source

#3022 Add demo for Sentinel OpenSergo data-source
  sentinel-demo/pom.xml
  sentinel-demo/sentinel-demo-opensergo-datasource/README.md
  sentinel-demo/sentinel-demo-opensergo-datasource/README.zh-cn.md
  sentinel-demo/sentinel-demo-opensergo-datasource/pom.xml
  sentinel-demo/sentinel-demo-opensergo-datasource/src/main/java/com/alibaba/csp/sentinel/demo/datasource/opensergo/SpringWebOpenSergoApplication.java
  sentinel-demo/sentinel-demo-opensergo-datasource/src/main/java/com/alibaba/csp/sentinel/demo/datasource/opensergo/config/DataSourceConfig.java
  sentinel-demo/sentinel-demo-opensergo-datasource/src/main/java/com/alibaba/csp/sentinel/demo/datasource/opensergo/config/InterceptorConfig.java
  sentinel-demo/sentinel-demo-opensergo-datasource/src/main/java/com/alibaba/csp/sentinel/demo/datasource/opensergo/controller/WebController.java
  sentinel-demo/sentinel-demo-opensergo-datasource/src/main/resources/application.properties
  sentinel-demo/sentinel-demo-opensergo-datasource/src/main/resources/opensergo_cr_sample.yml
Labels: area/integrations, area/data-source, area/example
